#choropleth_map {
    margin-left: -100px;
} 

#bar_chart {
	margin-left: -60px;
}

#bump_chart {
	margin-left: 40px;
}

#bubble_chart {
	margin-left: 50px;
}

#parallel_coord_plot {
	margin-left: 60px;
}

select[name=region_selection], select[name=music_genre_selection] {
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	margin-left: 10px;
}

input[type=range] {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -2px;
	margin-bottom: -2px;
}

.vega-bind{
	color: white;
}

.vega-bindings {
	margin-top: 15px;
	margin-bottom: 15px;
}

.vega-bind-name{
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	margin-left: -52px;
}

span {
	font-size: 14px;
	font-family: Montserrat, sans-serif;
}

.vega-bindings {
	margin-left: 180px;
}

body {
	background-color: #191414;
	font-family: Montserrat, sans-serif;
}

h2, p {
	color: #1DB954;
	font-family: Montserrat, sans-serif;
	text-align: justify;
}

h2[id=centertitle], p[id=centersubtitle] {
	text-align: center;
}

h1 {
	color: #1DB954;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-weight: bolder;
}

.pure-g {
	margin-left: 10px;
}

.description-left{
    width: 450px;
}

.description-right{
	width: 550px;
}
