select[name=region_selection], select[name=music_genre_selection] {
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	margin-left: 10px;
}

input[type=range] {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -2px;
	margin-bottom: -2px;
}

.vega-bind {
	color: white;
}

.vega-bindings {
	margin-top: 15px;
	margin-bottom: 15px;
}

.vega-bind-name {
	font-size: 14px;
	font-family: Montserrat, sans-serif;
}

span {
	font-size: 14px;
	font-family: Montserrat, sans-serif;
}

#choropleth_map .vega-bindings {
	margin-left: 360px;
}

#bar_chart .vega-bindings {
	margin-left: 115px;
}

#bump_chart .vega-bindings {
	margin-left: 115px;
}

#parallel_coord_plot .vega-bindings {
	margin-left: 260px;
}

#bubble_chart .vega-bindings {
	margin-left: 100px;
}

body {
	background-color: #191414;
	font-family: Montserrat, sans-serif;
}

h2, p {
	color: #1DB954;
	font-family: Montserrat, sans-serif;
	text-align: justify;
}

h2[id=centertitle], p[id=centersubtitle] {
	text-align: center;
}

h1 {
	color: #1DB954;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-weight: bolder;
}

.page{
	width: 1000px;    
	margin: auto;
	padding: 50px;
	padding-top: 35px;
}

.vis-container{
	width: 100%;
}

.description-right {
	padding-left: 20px;
}

.description-left{
	padding-right: 20px;
}

.pure-g{
    margin-bottom: 25px;
}

